/* 大區塊設定模板(置中對齊) */
    /* 1.height: 100%;父撐開

    2.display: flex;
    3.justify-content: center;
    4.align-items: center;
    5.flex-direction: column; */

    /* 6.如果不是第一區塊，需在父加上padding 10% */
/* 元件設定模板 */
$SuperHeight : 100%;
$BgStyle_1 : #AAA;
$BgStyle_2 : #DDD;

html,body{
    width: $SuperHeight;
    height: $SuperHeight;
  
}

nav a.navbar-brand {
    font-size: 1.5em;
    
    color: white;
    
}
a.navbar-brand::after,
a.navbar-brand::before {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
a.navbar-brand::before {
    content: "租" !important;
    color: rgb(16, 246, 16);
    margin: 1px;
}
a.navbar-brand::after {
    content: "運" !important;
    color: yellow;
    margin: -1px;
}
nav a.navbar-brand:hover::before{
    content: "運" !important;
    color: yellow;
    
}

nav a.navbar-brand:hover::after{
    content: "租" !important;
    color: rgb(16, 246, 16);
    // transition: .3s;
}
nav a.navbar-brand:hover::before,
nav a.navbar-brand:hover::after{
    transition: 1s;
}

header#about{
    height: $SuperHeight;
    position: relative;
    background: $BgStyle_1 !important;
    header#about-div{
        height: $SuperHeight;
    }
}

header.login_page{
    display: none !important;
}


section#announcement{
    height: $SuperHeight;
    background: $BgStyle_2 !important;
    div#announcement-div{
        height: $SuperHeight;
    }
}

section#callUs{
    height: $SuperHeight - 25%;
    background: $BgStyle_1 !important;
    display: flex;
    div#callUs-div{
        height: $SuperHeight;
    }
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link:hover{
    color: greenyellow !important;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: yellow !important;
}